---
layout: default
---
<div>
{{ content }}
</div>

<iframe frameborder="no" border="10" marginwidth="10" marginheight="10" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=28578156&auto=0&height=66"><p>something</p></iframe>

<embed height="415" width="544" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="//static.hdslb.com/miniloader.swf" flashvars="aid=15736750&page=1" pluginspage="//www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>

<iframe src="//www.bilibili.com/blackboard/player.html?aid=3521416&cid=6041635&page=1" scrolling="no" border="0" frameborder="no" framespacing="0"></iframe>
